<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/device/js/autoAdapt.js"></script>
  <link rel="stylesheet" href="/device/css/public.css">
  <link rel="stylesheet" href="/device/css/match.css">
  <title>Document</title>
</head>
<body>
  <div id="matchNotice" class="wrap">
    <div class="header">
        <div>
          <img src="../images/return.jpg" alt="">
          <p>比赛通知</p>
        </div>
    </div>
    <ul class="con">
      <li>
        <p>
          <img src="/device/images/cNotice.jpg" alt="">
        </p>
        <div>
          <p class="headP">2017第14届美国古典声乐家国际声乐比赛</p>
          <p class="conP">美国音乐家鲍勃·迪伦获2016年诺贝尔文学奖，他是诗人也是占位符占位符占位符占位符占位超出隐藏已点显示</p>
        </div>
      </li>
      <li>
        <p>
          <img src="/device/images/cNotice.jpg" alt="">
        </p>
        <div>
          <p class="headP">2017第14届美国古典声乐家国际声乐比赛</p>
          <p class="conP">美国音乐家鲍勃·迪伦获2016年诺贝尔文学奖，他是诗人也是占位符占位符占位符占位符占位超出隐藏以点显示</p>
        </div>
      </li>
      <li>
        <p>
          <img src="/device/images/cNotice.jpg" alt="">
        </p>
        <div>
          <p class="headP">2017第14届美国古典声乐家国际声乐比赛</p>
          <p class="conP">美国音乐家鲍勃·迪伦获2016年诺贝尔文学奖，他是诗人也是占位符占位符占位符占位符占位超出隐藏以点显示</p>
        </div>
      </li>
    </ul>
  </div>
</body>
<script>
</script>
</html>
